div#home{
  background: url("../images/backgrounds/sierra2.jpg") center top no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#projects_body{
  background: url("../images/backgrounds/laptop.jpg") center top no-repeat fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div#research_body{
  background: url('../images/backgrounds/sbu2.jpg') center top no-repeat fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div#contact_body{
  background: url("../images/backgrounds/campanile.jpg") center top no-repeat fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
