html{
  z-index: 0;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

}

#nav{
  width: 100%;
  height: 28px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: black;
  opacity: 1;
  z-index: 1;
}

#navbar{
  float: right;
  opacity = 1;
}

.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlist li{
  display: inline;
  margin = 20px;
  float: left;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 1
  margin-left: 25px;
  font-size: 18px;
  cursor: pointer;
}

.navlist a{
  text-decoration: none;
  color: white;"
}

.navlist a:hover {
  color: gold;
  transition: 0.2s ease;
}

.section{
  padding-top: 55px;
  width: 100%;
	height:650px;
  position: relative;
  margin: 0px 0px;
}

div#filter1{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  /*background: linear-gradient(90deg, rgba(138, 120, 5, 0.560784) 10%, rgba(250, 250, 113, 0.139216) 90%);*/
  background-color: rgba(255, 255, 255, .2)
}

div#filter2{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  /*background: linear-gradient(90deg, rgba(138, 120, 5, 0.560784) 10%, rgba(250, 250, 113, 0.139216) 90%);*/
  background-color: rgba(0, 0, 0, .5)
}

div#home{
  background: url("../images/backgrounds/sunset.jpg") center top no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div#title{
  position: relative;
  margin: 250px auto;
  color: white;
}

div#name {
  display: table;
  font-size: 100px;
  margin: 20px auto;
}
div#description {
  display: table;
  font-size: 30px;
  margin: 20px auto;
}

div#resume{
	-webkit-background-size: cover;
  background-color: #ABC;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div#projects{
  background-color: #DBA;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div#contact{
  background: url("../images/backgrounds/campanile.jpg") center top no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div#socialmedia {
  position: absolute;
  float: bottom;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 525px;
}

img#smlogo {
  width: 64px;
  height: 64px;
  margin: 10px 20px;
  opacity: 1;
  transition: all 0.2s ease;
}

img#smlogo:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.2s ease;
}

div#description {
  margin: 10px auto;
  text-align: center;
}

div#name {
  opacity:1;
}

div#contact {
  color:beige;
}

div#button {
  cursor: pointer;
  margin: 10px auto;
  display: table;
  opacity: 1;
}
