
html {
  width: 100%;
	height:100%;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  background: url("http://www.bmunchina.org/img/Campanile_Carousel.jpg") center top no-repeat fixed;
	background-color: #AAA;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}




.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  backgroun-color: black;
}

.navlist li{
  display: inline;
  margin = 20px;
  float: left;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 1
  margin-left: 25px;
  font-size: 18px;
  cursor: pointer;
}

.navlist a{
  text-decoration: none;
  color: #000000;"
}

.navlist a:hover {
  color: white;
  transition: 0.2s ease;
}

#nav{
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}

#navbar{
  float: right;
}

.section{
  padding-top: 25px;
}

div#name {
  display: table;
  font-size: 55px;
  margin: 10px auto;
}
div#description {
  display: table;
  margin: 10px auto;
}
div#socialmedia {
  display: table;
  margin: 10px auto;
}
img#smlogo {
  width: 32px;
  height: 32px;
  margin: 0px 2px;
}
img#smlogo:hover {
  opacity: 0.6;
}
div#description {
  margin: 10px auto;
  text-align: center;
}
div#name {
  opacity:1;
}
div#contact {
  color:beige;
}
div#button {
  cursor: pointer;
  margin: 10px auto;
  display: table;
  opacity: 1;
}
